.new{
    background-color: royalblue;
   
}
.field{
    background-color: lightblue;
}
input[type=name]{
    /* background-color: lightgreen; */
    width: 80%;
    border-radius: 10px;
}
input[type=email]{
    /* background-color: lightgreen; */
    width: 80%;
    border-radius: 10px;
}
input[type=password]{
    /* background-color: lightgreen; */
    width: 80%;
    border-radius: 10px;
}
input[type=date]{
    /* background-color: lightgreen; */
    width: 80%;
    border-radius: 10px;
}
input[type=file]{
    width: 40%;
    border-radius: 10px;
}